/* Universal Styles */

html{
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

h1{
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2{
  font-weight: bold;
  font-size: 2rem;
}

h3{
  font-weight: bold;
  font-size: 1.25rem;
}

p, h2, h3, a{
  line-height: 1.4;
}

a{
  color: #368bc1;
  font-weight: bold;;
}


/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: white;
}


.logo{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-left: 1.5rem;
}

.logo img{
  height:2rem;
}


.colmar{
  font-weight: bold;
}

.academy{
  color: #9b9b9b;
}

header nav ul{
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

header nav ul li{
  padding-left: 1rem;
}

.mobile{
  display: none;
}



/* Content main settings */
.column{
  display: flex;
  flex-direction: column;
}

.column1{
  width:60%;
}

.column1 img{
  width: 100%;
  padding: 2rem 1.5rem;
}

.column1 p{
 padding-left: 2rem;
}

.column2{
  width:40%;
  padding-top: 2rem;
  margin-left: 3rem;
}

.column2 img{
  width:35%;
  height: auto;
  margin-right: 1rem;
}


/* Banner */
.banner{
  display: flex;
  align-items: center;
  padding-top: 4rem;
  background-color: lightgrey;
}


.banner img{
  padding: 2rem 1.5rem;
}


.cta{
  width:70%;
  margin-left: 1rem;
}

.cta h3{
  margin: 1.5rem auto;
}

.button{
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  width: 70%;
  border-radius: 0.5rem;
  font-weight: bold;
}



/* General content */
.general.content{
  background-color: #f3f3f3;
  display: flex;
  padding-bottom: 2rem;
}

.column1 h2{
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

.column1 p{
  padding-bottom: 2rem;
}

.source{
  font-size: 0.75rem;
  font-weight: bold;
}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
}

.text{
  width:65%;
}

#guestlecture, #orientation{
  background-color: lightgrey;
}

.campus{
  background-color: #dcdcdc;
}


/* Courses */
.courses{
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
}

#courses{
  padding: 2rem 2.5rem;
}

.title{
  display: flex;
  justify-content: center;
}

.courses.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.course_content{
  width: 25%;
  height:auto;
  background-color: white;
  margin: 2rem;
}

.course_img img {
width:100%;
height:auto;
}

.course_details{
  padding: 1rem 1rem;
}

.course_details p{
  padding-top: 0.5rem;
}

/* Thesis */
.thesis{
  background-color: #f3f3f3;
}

.video{
  padding-left: 2rem;
  
}

#thesis{
  padding: 2rem;
}

#fisma{
  background-color: lightgrey;
}


/* Footer */
.footer{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px lightgrey solid;
}

.footer div span{
  margin-left: 1rem;
}

.footer{
  font-size: 0.75rem;
}


/*mobile Version*/
@media only screen and (max-width: 480px){
  /*Navigation*/
  .desktop, .logo {
    display: none;
  }

  .mobile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    }


  /*banner*/
  .banner{
    display: flex;
    flex-direction: column;
  }

  .banner img{
    padding: 0rem 0rem;
  }

  .cta{
    max-width: 100%
    margin: 1rem 2rem;
  }

  .cta h3{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

 .button{
   width: 100%;
   margin-bottom: 2rem;
 }


  /*gernal setting*/

  /* Content main settings */
  .column{
    display: block;
  }

  .column1{
    width:100%;
  }

  .column2{
    width:100%;
    margin-left: 0rem;
  }

  .column2 .item img{
    width:100%;
    height: auto;
    margin-right: 0rem;
  }


  /* General content */
  .general.content{
    display: block;
    padding: 0 0;
  }

  #practicing{
    display: none;
  }

  #guestlecture, #orientation{
    background-color: #f3f3f3;
  }

  .item{
    flex-direction: column;
  }
  .text{
    width:100%;
    margin-left: 1rem;
  }

/* Courses */

.course_img, .course_details p {
  display: none;
}

.courses{
  background-color: #f3f3f3;
}


#courses{
  padding: 2rem 1rem;
  border-top: 1px lightgrey solid;
}

.courses.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course_content{
  width: 100%;
  height:auto;
  background-color: lightgrey;
  margin: 0rem;
  margin-bottom: 0.5rem;
}

.title{
  margin-bottom: 1rem;
}

/* Thesis */
.thesis{
    border-top: 1px lightgrey solid;
}

.thesis .column2, .video_text{
  display: none;
}

.video{
  padding-left: 0rem;
  margin-bottom: 1.5rem;
}

#thesis{
  padding-top: 2rem;
  padding-bottom: 1rem;
}


/* Footer */

.footer span{
  display: none;
}

.footer{
  padding: 1rem 1rem;
  border-top: none;
}

.footer{
  font-size: 0.75rem;
}

}
